{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/privacy.css' %}">
</head>
<body>
    <div class="container">
        <h1>Политика конфиденциальности</h1>
        <p>Настоящая Политика конфиденциальности представляет собой соглашение между вами, как пользователем, и нашим сайтом в отношении сбора, использования и разглашения вашей личной информации при использовании нашего веб-сайта.</p>

        <h2>Сбор и использование информации</h2>
        <p>Мы собираем различные типы информации, включая персональные данные, когда вы посещаете наш сайт, регистрируетесь, оформляете заказ, подписываетесь на рассылку, отвечаете на опросы или взаимодействуете с нашими услугами.</p>

        <h2>Как мы используем вашу информацию</h2>
        <p>Мы используем вашу личную информацию для предоставления услуг, обработки заказов, улучшения качества обслуживания, отправки информации о продуктах и услугах, проведения опросов и аналитики в целях улучшения нашего сайта.</p>

        <h2>Раскрытие информации третьим лицам</h2>
        <p>Мы не продаем, не обмениваем и не передаем вашу личную информацию третьим лицам без вашего согласия, за исключением случаев, предусмотренных законом.</p>

        <h2>Безопасность</h2>
        <p>Мы принимаем меры безопасности для защиты вашей личной информации от несанкционированного доступа, изменения, раскрытия или уничтожения.</p>

        <h2>Изменения в Политике конфиденциальности</h2>
        <p>Мы оставляем за собой право вносить изменения в нашу Политику конфиденциальности. Любые изменения будут опубликованы на этой странице.</p>

        <h2>Связь с нами</h2>
        <p>Если у вас есть какие-либо вопросы или предложения по поводу нашей Политики конфиденциальности, не стесняйтесь связаться с нами.</p>

        <h2>Ваш IP-адрес</h2>
        <p>{{ ip_address }}</p>

        <h2>Случайный кошачий факт</h2>
        <p2>{{cat_fact}}</p>
        

    </div>
</body>
</html>
{% endblock %}