{% extends "base_generic.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Скидочные купоны</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/promocodes.css' %}">
</head>
<body>
    <h1>Скидочные купоны</h1>

    {% if user.is_authenticated and user.is_master %}
        <h2>Создать новый промокод</h2>
        <form method="post">
            {% csrf_token %}
            <label for="expiration_date">Дата истечения:</label>
            <input type="datetime-local" id="expiration_date" name="expiration_date"><br>
            <label for="discount_percentage">Процент скидки:</label>
            <input type="number" id="discount_percentage" name="discount_percentage" min="0" max="100"><br>
            <label for="max_usage_count">Макс. количество использований:</label>
            <input type="number" id="max_usage_count" name="max_usage_count" min="1"><br>
            <button type="submit">Добавить промокод</button>
        </form>
    {% endif %}

    <div class="promocode-container">
        {% for promocode in promocodes %}
            <div class="promocode-cell">
                <p>Код: {{ promocode.code }}</p>
                <p>Скидка: {{ promocode.discount_percentage }}% off</p>
                <p>Срок истечения: {{ promocode.expiration_date }}</p>
                <p>Максимальное количество использований: {{promocode.max_usage_count }} </p>
            </div>
        {% endfor %}
    </div>

</body>
</html>

{% endblock %}
